@import "variables";

.root {
  position: relative;
  border-radius: 4px;
  box-shadow: $shadow-border;

  input {
    position: relative;
    width: 100%;
    padding: 12px 25px 12px 15px;
    font-size: inherit;
    border: none;
    border-radius: 4px;
    outline: none;
    transition: box-shadow 0.2s ease-in-out;

    &:focus {
      box-shadow: $shadow-border-hover;
    }

    &::placeholder {
      color: #95a3b4;
    }
  }

  .icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }

  .clear {
    position: absolute;
    top: 50%;
    right: 0;
    height: 32px;
    padding: 0 10px;
    font-weight: 100;
    font-size: 22px;
    transform: translateY(-50%);
    cursor: pointer;
    opacity: 0.7;

    &:hover {
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
  }
}
