$color-text: #282c34;
$color-text-light: #6b6b6b;
$color-background: #fafbfc;
$shadow-border: rgb(0 0 0 / 5%) 0 0 0 1px;
$shadow-border-hover: rgb(0 0 0 / 5%) 0 6px 24px 0, rgb(0 0 0 / 8%) 0 0 0 1px;
